body {
}

ul.book-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.book-item {
    position: relative;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-bottom: 0;
}
li.book-item:last-of-type {
    border: 1px solid #ccc;
}

.cover {
    margin-right: 10px;
    float: left;
}
.cover img {
    height: 100px;
    width: 65px;
}

.title {
    margin: 0 0 0.25em 0;
    font-size: 1.2em;
}

.author {
    margin: 0 0 0.35em 0;
    font-size: 1em;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px
}
.categories li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 5px;
    color: #666;
}

.metadata {
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.availability .holds {
    font-size: 0.8em;
    padding-left: 0.4em;
}

.availability, .fiction, .vpl-rating, .amazon-rating, .goodreads-rating {
    float: left;
    margin-right: 1em;
}

.vpl-rating a, .amazon-rating a, .goodreads-rating a {
    padding-left: 18px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
}
.vpl-rating a {
    background-image: url(images/vpl.png);
}
.amazon-rating a {
    background-image: url(images/amazon.png);
}
.goodreads-rating a {
    background-image: url(images/goodreads.png);
}

.rating {
    display: inline-block;
    width: 91px;
    height: 12px;
    background: url(images/star_empty.png) repeat-x;
    position: relative;
}
.rating .stars-1, .rating .stars-2, .rating .stars-3, .rating .stars-4, .rating .stars-5, .rating .stars-6, .rating .stars-7 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(images/star_full.png) repeat-x;
}
.rating .stars-2 {
    width: 26px;
}
.rating .stars-3 {
    width: 39px;
}
.rating .stars-4 {
    width: 52px;
}
.rating .stars-5 {
    width: 65px;
}
.rating .stars-6 {
    width: 78px;
}
.rating .stars-7 {
    width: 91px;
}
