html {
    min-height: 100%;
}

body {
    background: linear-gradient(to right, rgba(210, 180, 140, 0.5), rgba(210, 180, 140, 1.0));
}

h1 {
    font-family: 'Lily Script One', cursive;
    margin: 0 0 4px 32px;
    padding: 5px 0 0 170px;
    font-size: 64px;
    line-height: 1;
    color: rgb(102, 83, 14);
    background: url(images/logo.png) no-repeat top left;
    height: 256px;
    line-height: 256px;
}

.main {
    position: relative;
}

.settings, .book-list {
    background: white;
    border-radius: 10px;
}

.settings {
    position: absolute;
    top: -44px;
    right: 16px;
    margin: 0;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 42px;
    height: 44px;
}
.settings label {
    font-size: 0.9;
    margin-right: 5px;
}
.settings > fieldset {
    display: inline-block;
    padding-right: 1.5em;
}
.settings > fieldset:last-of-type {
    padding-right: 0;
}
.settings > fieldset > input[type="text"] {
    line-height: 1;
    font-size: 80%;
}

ul.book-list {
    clear: both;
    list-style-type: none;
    margin: 0 16px 16px 16px;
    padding: 0;
    border: 1px solid #ccc;
    border-top-right-radius: 0;
}

ul.book-list > li {
    position: relative;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
ul.book-list > li:last-of-type {
    border-bottom: 0;
}
ul.book-list > li.no-results {
    font-style: italic;
}

.cover {
    margin-right: 10px;
    float: left;
}
.cover img {
    height: 100px;
    width: 65px;
}

.title {
    margin: 0 0 3px 0;
    font-size: 1.2em;
    line-height: 1;
}

.author {
    margin: 0 0 5px 0;
    font-size: 1em;
    line-height: 1;
}

.description {
    overflow: hidden;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    line-height: 1;
}
.categories li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 5px;
    color: #666;
}

.metadata {
    position: absolute;
    bottom: 10px;
    left: 85px;
    line-height: 1;
}

.availability, .fiction {
    font-size: 0.9em;
}
.availability .holds {
    font-size: 0.8em;
    padding-left: 0.4em;
}

.availability, .fiction, .vpl-rating, .amazon-rating, .goodreads-rating {
    float: left;
    margin-right: 1em;
}

.vpl-rating a, .amazon-rating a, .goodreads-rating a {
    padding-left: 18px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
}
.vpl-rating a {
    background-image: url(images/vpl.png);
}
.amazon-rating a {
    background-image: url(images/amazon.png);
}
.goodreads-rating a {
    background-image: url(images/goodreads.png);
}

.rating {
    display: inline-block;
    width: 91px;
    height: 12px;
    background: url(images/star_empty.png) repeat-x;
    position: relative;
}
.rating .stars {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 12px;
    background: url(images/star_full.png) repeat-x;
}

.yesno {
    padding-right: 18px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
}
.yes {
    background-image: url(images/yes.png);
}
.no {
    background-image: url(images/no.png);
}
